.regDirect {
  width: 100%;
  display: flex;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(94, 80, 161, 1) 27%,
    rgba(94, 80, 161, 1) 46%,
    rgba(42, 29, 106, 1) 100%
  );
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 45px;
  }

  .regBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;

    .regDirectOption {
      width: 30%;
      height: 70px;
      border-radius: 50px;
      border: 3px solid #fff;
      background: transparent;
      cursor: pointer;
      margin: 0 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 25px;
      font-weight: 700;
      transition: 0.3s ease-in-out;
      letter-spacing: 0.6px;

      &:hover {
        background: rgba(53, 45, 94, 0.63);
      }
    }
    .regDirectOptionRec {
      width: 30%;
      height: 70px;
      border-radius: 50px;
      border: 3px solid var(--secondary);
      background: linear-gradient(
        90deg,
        rgba(251, 176, 23, 1) 42%,
        rgba(221, 153, 11, 1) 100%
      );
      color: #444;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      margin: 0 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: 700;
      transition: 0.3s ease-in-out;
      letter-spacing: 0.6px;

      &:hover {
        background: transparent;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px){
    .regDirect {
        h1 {
            font-size: 35px;
        }

        .regBox {
            flex-direction: column;
            padding: 0 2em;
            gap: 2em;
            .regDirectOption {
                width: 100%;
                font-size: 22px;

            }
            .regDirectOptionRec {
                width: 100%;
                font-size: 22px;
            }
        }
    }
}