.wrapPage {
  background-color: #ebedf0;
  //   height: 200px;
  .wrapHead {
    background-color: #5e50a1;
    height: 200px;
  }
  .wrapCard {
    display: flex;
    column-gap: 1.5em;
    margin-top: -12em;
    .dataProfile {
      display: flex;
      flex-direction: column;
      flex: 1;
      // width: 40%;

      .cardData {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5em;
        margin-bottom: 1em;
        padding: 2em;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .imgProfile {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .editImage {
            text-align: center;
            position: absolute;
            left: 21em;
            top: 20.5em;

            .icon {
              font-size: 3em;
              cursor: pointer;
              background: #5e50a1;
              border-radius: 50%;
              padding: 8px;
              color: #fff;

              &:hover {
                background: #392e72;
              }
            }
          }

          .imgProfileWrapper{
            width: 40vh;
            height: 40vh;
            border-radius: 50%;
            margin-bottom: 10%;
            object-fit: cover;

          }
        }

        .companyName {
          margin-top: 2em;
        }

        .companytype {
          font-size: 14px;
        }

        .companyLocation {
          display: flex;
          font-size: 14px;
          column-gap: 5px;
          margin-bottom: 10px;
          color: #999;

          .icon {
            font-size: 14px;
          }
        }

        .descriptionProfile {
          font-size: 14px;
          color: #999;
        }
      }
      .action {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .save {
          height: 40px;
          background-color: #5e50a1;
          color: #fff;
          font-weight: 500;
          border: 1px solid #5e50a1;
          outline: none;
          transition: 0.5s ease-in-out;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          &:hover {
            background-color: #8b7cd1;
          }
        }
        .back {
          height: 40px;
          background-color: #fff;
          outline: none;
          font-weight: 500;
          border: 1px solid #5e50a1;
          color: #5e50a1;
          transition: 0.5s ease-in-out;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          &:hover {
            background-color: #5e50a1;
            color: #fff;
          }
        }
      }
    }
    .formEdit {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      flex: 2.5;
      margin: 5em 0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;

      .title {
        font-weight: 600;
      }
      .cardForm {
        display: flex;
        flex-direction: column;
        padding: 2em;

        .horizontalLine {
          width: 100%;
          // height: 1%;
          display: flex;
          align-items: center;
          // margin: 0 0.5em;
          padding: 0;
          .hline {
            width: 100%;
            height: 1px;
            background-color: lightgrey;
            margin-bottom: 1em;
          }
        }

        .companyForm {
          display: flex;
          flex-direction: column;

          label {
            font-size: 14px;
            color: #444;
            margin-bottom: 5px;
          }

          input {
            margin-bottom: 2em;
            padding: 5px 10px;
            letter-spacing: 0.5px;
            height: 3em;
            font-size: 14px;
            border: 1px solid lightgray;
            outline: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            &::placeholder {
              color: #999;
            }
          }

          textarea {
            margin-bottom: 2em;
            letter-spacing: 0.5px;
            padding: 10px;
            height: 10em;
            font-size: 14px;
            border-radius: 5px;
            outline: none;
            border: 1px solid lightgray;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapCard {
    display: flex;
    flex-direction: column;

    .dataProfile {
      .cardData {
        .companyName {
          display: flex;
          justify-content: center;
        }

        .companyType {
          display: flex;
          justify-content: center;
        }

        .companyLocation {
          display: flex;
          justify-content: center;
          color: #9ea0a5;
        }

        .descriptionProfile {
          display: flex;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}
