.wrapPage {
  background-color: #ebedf0;
  // margin-top: 5em;
  .wrapHead {
    background-color: #5e50a1;
    height: 250px;
  }

  .leftCard {
    margin-top: -10em;
  }

  .cardForm {
    padding-left: 35px;
    margin-top: -5em;
    .formEditBiodata {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border-radius: 5px;

      .title {
        font-weight: 600;
      }
      .cardFormBiodata {
        display: flex;
        flex-direction: column;
        padding: 2em;

        .horizontalLine {
          width: 100%;
          // height: 1%;
          display: flex;
          align-items: center;
          // margin: 0 0.5em;
          padding: 0;
          .hline {
            width: 100%;
            height: 1px;
            background-color: lightgrey;
            margin-bottom: 1em;
          }
        }

        .companyForm {
          display: flex;
          flex-direction: column;

          .socialMedia {
            display: flex;
            flex: 1;
            justify-content: space-between;
          }

          label {
            font-size: 14px;
            color: #444;
            margin-bottom: 5px;
          }

          input {
            margin-bottom: 2em;
            padding: 5px 10px;
            letter-spacing: 0.5px;
            height: 3em;
            font-size: 14px;
            border: 1px solid lightgray;
            outline: none;
            border-radius: 5px;
            &::placeholder {
              color: #999;
            }
          }

          textarea {
            margin-bottom: 2em;
            letter-spacing: 0.5px;
            padding: 10px;
            height: 10em;
            font-size: 14px;
            border-radius: 5px;
            outline: none;
            border: 1px solid lightgray;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
      .btnSaveBiodata {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 0.5em 1em;
          background-color: #fbb017;
          color: #ffffff;
          border: 1px solid #fbb017;
          outline: none;
          transition: 0.3s ease-in-out;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          &:hover {
            background-color: #fff;
            outline: none;
            color: #fbb017;
          }
        }
      }
    }
    .cardFormSkill {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 2em;
      margin-top: 2em;
      border-radius: 5px;
      .title {
        font-weight: 600;
      }

      .horizontalLine {
        width: 100%;
        // height: 1%;
        display: flex;
        align-items: center;
        // margin: 0 0.5em;
        padding: 0;
        .hline {
          width: 100%;
          height: 1px;
          background-color: lightgrey;
          margin-bottom: 1em;
        }
      }

      .companyForm {
        display: flex;
        flex-direction: column;

        input {
          margin-bottom: 2em;
          padding: 5px 10px;
          letter-spacing: 0.5px;
          height: 3em;
          font-size: 14px;
          border: 1px solid lightgray;
          outline: none;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          &::placeholder {
            color: #999;
          }
        }
      }

      .btnSaveSkill {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 0.5em 1em;
          background-color: #fbb017;
          color: #ffffff;
          border: 1px solid #fbb017;
          outline: none;
          transition: 0.3s ease-in-out;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          &:hover {
            background-color: #fff;
            outline: none;
            color: #fbb017;
          }
        }
      }
    }
    .cardFormExperience {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 2em;
      margin-top: 2em;
      border-radius: 5px;
      .title {
        font-weight: 600;
      }
      .horizontalLine {
        width: 100%;
        // height: 1%;
        display: flex;
        align-items: center;
        // margin: 0 0.5em;
        padding: 0;
        .hline {
          width: 100%;
          height: 1px;
          background-color: lightgrey;
          margin-bottom: 1em;
        }
      }
      .companyExperience {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // flex-direction: column;
        .formCompany {
          display: flex;
          flex-direction: column;
          width: 35%;
          input {
            margin-bottom: 2em;
            padding: 5px 10px;
            letter-spacing: 0.5px;
            height: 3em;
            font-size: 14px;
            border: 1px solid lightgray;
            outline: none;
            border-radius: 5px;
            &::placeholder {
              color: #999;
            }
          }
        }
      }
      .date {
        display: flex;
        justify-content: space-between;
        .formExperience {
          display: flex;
          flex-direction: column;
          width: 35%;
          input {
            margin-bottom: 2em;
            padding: 5px 10px;
            letter-spacing: 0.5px;
            height: 3em;
            font-size: 14px;
            border: 1px solid lightgray;
            outline: none;
            border-radius: 5px;
            &::placeholder {
              color: #999;
            }
          }
        }
      }
      .description {
        .formExperience {
          display: flex;
          flex-direction: column;
          // width: 35%;
          textarea {
            margin-bottom: 2em;
            letter-spacing: 0.5px;
            padding: 10px;
            height: 10em;
            font-size: 14px;
            border-radius: 5px;
            outline: none;
            border: 1px solid lightgray;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }
      }
      .btnSaveExperience {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 0.5em 1em;
          background-color: #fbb017;
          color: #ffffff;
          border: 1px solid #fbb017;
          outline: none;
          transition: 0.3s ease-in-out;
          border-radius: 5px;

          &:hover {
            background-color: #fff;
            outline: none;
            color: #fbb017;
          }
        }
      }
    }
    .cardPortofolioForm {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 2em;
      margin-top: 2em;
      margin-bottom: 5em;
      border-radius: 5px;
      .title {
        font-weight: 600;
      }
      .horizontalLine {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        .hline {
          width: 100%;
          height: 1px;
          background-color: lightgrey;
          margin-bottom: 1em;
        }
      }

      .portofolioForm {
        display: flex;
        flex-direction: column;
        input {
          margin-bottom: 2em;
          padding: 5px 10px;
          letter-spacing: 0.5px;
          height: 3em;
          font-size: 14px;
          border: 1px solid lightgray;
          outline: none;
          border-radius: 5px;
          &::placeholder {
            color: #999;
          }
        }
      }
      .portofolioFormImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        label {
          margin-bottom: 0.3em;
        }
        input {
          margin-bottom: 2em;
          padding: 5px 10px;
          letter-spacing: 0.5px;
          height: 300px;
          font-size: 14px;
          border: 1px dashed lightgray;
          outline: none;
          border-radius: 5px;

          #file {
            display: inline-block;
            width: 100%;
            padding: 120px 0 0 0;
            height: 100px;
            overflow: hidden;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: url('/public/assets/images/profile.png') center center
              no-repeat #e4e4e4;
            border-radius: 20px;
            background-size: 60px 60px;
          }
        }
      }
      .btnSavePortofolio {
        display: flex;
        justify-content: flex-end;
        button {
          width: 100%;
          height: 3em;
          background-color: #fff;
          color: #fbb017;
          border: 1px solid #fbb017;
          outline: none;
          transition: 0.3s ease-in-out;
          border-radius: 5px;

          &:hover {
            background-color: #fbb017;
            outline: none;
            color: #fff;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .cardForm {
    padding-left: 0px;
    .formEditBiodata {
      margin-top: 10em;
      .companyForm {
        .socialMedia {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
