* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary: #5e50a1;
  --secondary: #fbb017;
  --third: #1f2a36;
  --fourth: #46505c;
  --fifth: #9ea0a5;
  --sixth: #e2e5ed;
}
.slick-slide {
  padding: 0.5em 1em;
}
