* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary: #5E50A1;
  --secondary: #FBB017;
  --third: #1F2A36;
  --fourth: #46505C;
  --fifth: #9EA0A5;
  --sixth: #E2E5ED;
}