.wrap {
  background-color: #d1d0d0;
  // height: 100vh;
  padding: 6em 0;

  .headers {
    padding: 0;
    background-color: #5e50a1;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .picture {
      display: flex;
      justify-content: center;
      margin-top: -3.5em;
    }

    .dataCompany {
      .companyName {
        display: flex;
        justify-content: center;
        margin-top: 4em;
      }

      .companyType {
        display: flex;
        justify-content: center;
        font-size: 14px;
      }

      .companyLocation {
        display: flex;
        font-size: 14px;
        column-gap: 5px;
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }
    }

    .descriptionCompany {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 14px;
    }

    .btnEdit {
      display: flex;
      justify-content: center;

      button {
        width: 25%;
        height: 40px;
        background-color: #5e50a1;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        &:hover {
          background-color: #7e6fc7;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin: 2em auto;
      row-gap: 10px;
      .social {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 0;

        .icon {
          display: flex;
          align-items: center;
          margin: 0;
          font-size: 16px;
        }
        .linkedin {
          margin-top: -2.5px;
        }
        .telephone {
          margin-top: -2px;
        }
      }
    }
  }
}
