.signinLayout {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;

  .left {
    .title {
      width: 70%;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3em;
      margin-left: 4em;

      h2 {
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        color: #fff;
      }
      p {
        margin-top: 1em;
        text-align: center;
        font-size: 18px;
        color: #fff;
      }
      button {
        width: 150px;
        height: 45px;
        outline: none;
        font-weight: 600;
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 50px;
        transition: 0.3s ease-in-out;

        &:hover {
          background: #fff;
          color: #4481eb;
        }
      }
    }
    .leftBg {
      position: absolute;
      width: 100vw;
      height: 250vh;
      top: -10%;
      right: 48%;
      transform: translateY(-55%);
      background: var(--primary);
      transition: 1.8s ease-in-out;
      border-radius: 50%;
    }
    img {
      position: relative;
      z-index: 1;
      width: 70%;
      margin-top: -5em;
      margin-left: 6em;
      height: 100%;
    }
  }
  .right {
    .logo {
      margin-top: 0.5em;
      width: 100%;
      padding: 0 1em;
      font-size: 30px;
      font-weight: 800;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        cursor: pointer;
      }

      button {
        width: 100px;
        height: 35px;
        font-size: 14px;
        border-radius: 30px;
        border: 2px solid var(--primary);
        outline: none;
        font-weight: 600;
        background: none;
        transition: 0.3s ease-in-out;
        display: none;

        &:hover {
          background: var(--primary);
          color: #fff;
        }
      }
    }
    h1 {
      text-align: center;
      font-weight: 700;
      margin-top: 0.5em;
    }
    form {
      margin: 2em 7em;
      label {
        font-weight: 600;
        font-size: 14px;
        color: #444;
      }
      input {
        width: 100%;
        border-radius: 30px;
        height: 50px;
        padding: 0 2em;
        color: #444;
        font-weight: 500;
        outline: none;
        background: rgb(240, 240, 240);
        border: none;
        font-size: 14px;
        margin: 1em 0;

        &::placeholder {
          color: #999;
        }
      }
      p {
        font-size: 13px;
        font-weight: 600;
        margin: 0.5em;
        color: #444;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: var(--primary);
        }
      }
      button {
        margin-top: 1em;
        width: 100%;
        height: 50px;
        font-weight: 600;
        font-size: 16px;
        background: var(--primary);
        color: #fff;
        border-radius: 30px;
        border: none;
        outline: none;
        border: 2px solid var(--primary);
        transition: 0.3s ease-in-out;

        &:hover {
          background: #fff;
          color: var(--primary);
        }
      }
      .loginWith {
        margin-top: 2em;
        h3 {
          font-size: 14px;
          text-align: center;
          font-weight: 600;
        }
        .socialBox {
          display: flex;
          justify-content: center;
          gap: 1em;
          margin-top: 2em;
          .social {
            background: var(--primary);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid var(--primary);
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover {
              background: #fff;
              .socialIcon {
                color: #444;
              }
            }

            .socialIcon {
              font-size: 18px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .signinLayout {
    .left {
      display: none;
    }
    .right {
      h1 {
        margin-top: 3em;
      }
      .logo {
        font-size: 20px;
        padding: 0;

        button {
          color: var(--primary);
          display: block;
        }
      }
      form {
        margin: 3em 3em;
      }
    }
  }
}
