.chatroom {
  padding-top: 7em;
  padding-bottom: 3em;
  background: #222;

  .left {
    .leftBox {
      background: rgba($color: #000, $alpha: 0.3);
      border-radius: 10px;
      padding: 1.5em;
      .chatBox {
        h1 {
          font-size: 22px;
          font-weight: 600;
          color: #fff;
        }
      }
      .verticalLine {
        height: 1px;
        width: 100%;
        background: rgb(65, 65, 65);
        margin: 1.7em 0;
      }
      .user {
        margin-top: 2em;
        display: flex;
        align-items: center;
        cursor: pointer;

        .userImage {
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .userContent {
          padding-left: 0.7em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0;
          h4 {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 2px;
            color: #fff;
          }
          p {
            margin: 0;
            font-size: 12px;
            margin-top: 5px;
            font-weight: 500;
            color: #999;
          }
        }
      }
    }
  }
  .right {
    .rightBox {
      background: rgba($color: #000, $alpha: 0.3);
      border-radius: 10px;
      padding: 1.5em;

      .userInfo {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
        h2 {
          font-size: 16px;
          margin: 0;
          color: #fff;
          font-weight: 600;
          padding-left: 0.5em;
        }
      }
      .chatroomBox {
        margin-top: 4em;
        height: 70vh;
        .chatroomBoxContent {
          display: flex;
          width: 100%;

          .textContent {
            width: 100%;
            padding-right: 1em;

            p {
              font-weight: 500;
              text-align: right;
              font-size: 12px;
              line-height: 22px;
              color: #fff;
              margin: 0;
            }
            .statusInfo {
              padding: 0 3em;
              font-size: 10px;
              color: #888;
              .statusIcon {
                font-size: 18px;
                color: #fff;
                margin-right: 0.5em;
              }
              .statusIcon.active {
                color: rgb(4, 107, 241);
              }
            }
          }
          .userPict {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
        }
        .hrLine {
          width: 100%;
          height: 1px;
          background: rgb(65, 65, 65);
          margin: 1em 0;
        }
        .chatroomBoxStaff {
          display: flex;
          width: 100%;

          .textContent {
            width: 100%;
            padding-left: 1em;

            p {
              font-weight: 500;
              text-align: left;
              font-size: 12px;
              line-height: 22px;
              color: #fff;
              margin: 0;
            }
            .statusInfo {
              font-size: 10px;
              color: #888;
              display: flex;
              padding-right: 2em;
              justify-content: flex-end;

              .statusIcon {
                font-size: 18px;
                color: #666;
                margin-right: 0.5em;
              }
              .statusIcon.active {
                color: rgb(4, 107, 241);
              }
            }
          }
          .userPict {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
        }
      }
      .typeMessages {
        .typeBox {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 100%;
            height: 40px;
            border-radius: 30px;
            padding-left: 1.5em;
            border: 1px solid lightgray;
            outline: none;
            font-size: 12px;
            font-weight: 600;

            &::placeholder {
              color: #999;
            }
          }
          .icon {
            margin-left: 0.5em;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: var(--primary);
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
              background: var(--secondary);

              .sendIcon {
                color: #444;
              }
            }

            .sendIcon {
              font-size: 18px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .chatroom {
    .right {
      margin-top: 2em;
      .rightBox {
        display: none;
      }
      .rightBox.active {
        display: block;
      }
    }
  }
}
