.headers {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5e50a1;
  height: 48px;
  display: flex;
  align-items: center;

  .pageTitle {
    color: #fff;
  }
}

.contentFilter {
  display: flex;
  background-color: #e5e5e5;
  // opacity: 0.3;
  .filter {
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    margin-top: 5em;
    border: 1px solid lightgray;
    background: #fff;
    border-radius: 5px;
    padding: 0.5em;
    color: #5e50a1;

    .search {
      width: 84%;
      height: 48px;
      padding: 10px 0;
      border-radius: 10px;
      color: #e5e5e5;

      input {
        width: 96%;
        outline: none;
        border: none;
        padding-left: 1em;
        font-size: 14px;
      }

      .icon {
        font-size: 24px;
        color: #777;
      }
    }

    .verticalLine {
      width: 1%;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 0.5em;
      .line {
        width: 2px;
        height: 32px;
        background-color: lightgrey;
        margin: auto;
      }
    }

    .sortPeople {
      width: 10%;
      height: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 14px;
    }
    .btnSearch {
      display: flex;
      width: 10%;
      margin-left: 1em;
      background-color: #5e50a1;
      border-radius: 5px;
      justify-content: center;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: #7b6bcf;
      }
      button {
        background-color: none;
        outline: none;
        border: none;
        height: 48px;
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.wrap {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 2em 0;
  
  .cardUser {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 16px;
    background: #fff;
    
    .image {
      display: flex;
      flex: 0.5;
      order: 1;
      justify-content: center;
      align-items: center;
      padding: 16px;

      img {
        width: 75px;
        height: 75px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
      }
    }

    .info {
      display: flex;
      flex: 2;
      flex-direction: column;
      order: 2;
      justify-content: flex-start;
      padding: 10px;

      .name {
        // padding: ;
        display: flex;
        flex-direction: column;
        h4 {
          font-size: 20px;
          font-weight: 600;
          margin: 0;
        }
        h5 {
          font-size: 18px;
          font-weight: 500;
          margin: 0;

          span {
            font-size: 18px;
          }
        }
      }

      .jobType {
        font-size: 14px;
        color: #d1d0d0;
        display: flex;
        align-items: center;
      }

      .location {
        display: flex;
        font-size: 12px;
        color: gray;
        column-gap: 5px;
        margin-top: 1em;
        font-weight: 500;
        align-items: center;
        // background-color: #5e50a1;

        .icon {
          font-size: 13px;
          display: flex;
          align-items: center;
        }
      }

      .skills {
        display: flex;
        column-gap: 8px;
        margin: 1em 0;
        button {
          padding: 5px 20px;
          font-size: 14px;
          background-color: #fbb01799;
          color: #fff;
          border: none;
          outline: 2px solid #fcaa0799;
          border-radius: 5px;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: #e69900;
          }
        }
      }
    }

    .btnProfile {
      display: flex;
      flex: 1;
      // background-color: green;
      order: 3;
      align-items: center;
      justify-content: center;
      button {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background-color: #5e50a1;
        color: #fff;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        outline: none;
        transition: 0.5s ease-in-out;
        font-size: 14px;

        &:hover {
          background-color: #7b6bcf;
        }
      }
    }
  }

  .horizontalLine {
    width: 100%;
    // height: 1%;
    display: flex;
    align-items: center;
    // margin: 0 0.5em;
    padding: 0;
    .hline {
      width: 100%;
      height: 1px;
      background-color: lightgrey;
      margin: auto;
    }
  }
}

.pagePagination {
  background-color: #e5e5e5;
  display: flex;
}
