.footer {
  width: 100%;
  height: 45vh;
  background: var(--primary);

  .footerContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
      margin-top: 1em;
      img {
        width: 120px;
        cursor: pointer;
      }
      p {
        margin-top: 2em;
        width: 30%;
        color: #fff;
        line-height: 30px;
        font-size: 14px;
      }
    }
    .bottom {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;
      .copyright {
        font-size: 14px;
        color: #fff;
      }
      .bottomLeft {
        width: 20%;
        color: #fff;
        display: flex;
        justify-content: space-between;

        .content {
          cursor: pointer;
          font-size: 14px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 55vh;
    .footerContent {
      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          width: 100%;
          text-align: center;
        }
      }
      .bottom {
        margin-top: 3em;
        flex-direction: column-reverse;
        
        .copyright {
            text-align: center;
            margin-top: 2em;
        }
        .bottomLeft {
            width: 100%;
            justify-content: space-around;
        }
      }
    }
  }
}
@media screen and (max-width: 468px) {
    .footer {
      height: 45vh;
      .footerContent {
        .bottom {
          .copyright {
              margin-top: 3em;
          }
        }
      }
    }
  }
