.formEditBiodata {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .title {
    font-size: 22px;
    font-weight: 600;
  }
  .cardFormBiodata {
    display: flex;
    flex-direction: column;
    padding: 2em;

    .horizontalLine {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;

      .hline {
        width: 100%;
        height: 1px;
        background-color: lightgrey;
        margin-bottom: 1em;
      }
    }

    .companyForm {
      display: flex;
      flex-direction: column;
      
      .inputType {
        height: 100%;
        font-weight: 500;
      }

      .socialMedia {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 1em;

        input {
          width: 100%;
        }
      }

      label {
        font-size: 14px;
        color: #444;
        font-weight: 500;
        margin-bottom: 1em;
      }

      input {
        margin-bottom: 2em;
        padding: 5px 10px;
        letter-spacing: 0.5px;
        height: 3em;
        font-size: 14px;
        border: 1px solid lightgray;
        outline: none;
        border-radius: 5px;
        &::placeholder {
          color: #999;
        }
      }
      select {
        font-size: 14px;
        padding: 5px;
        height: 3em;
        outline: none;
        border: 1px solid lightgray;
        border-radius: 5px;
        gap: 1em 0;
        margin-bottom: 2em;

        option {
          height: 3em;
          padding: 0 1em;
        }
      }

      textarea {
        margin-bottom: 2em;
        letter-spacing: 0.5px;
        padding: 10px;
        height: 10em;
        font-size: 14px;
        border-radius: 5px;
        outline: none;
        border: 1px solid lightgray;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  }
  .btnSaveBiodata {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5em 1em;
      background-color: #fbb017;
      color: #ffffff;
      border: 1px solid #fbb017;
      outline: none;
      transition: 0.3s ease-in-out;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:hover {
        background-color: #fff;
        outline: none;
        color: #fbb017;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .formEditBiodata {
    .title {
      font-size: 24px;
    }
    .cardFormBiodata {
      .companyForm {
        label {
          font-weight: 600;
        }
        .socialMedia {
          flex-direction: column;

          .social {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
